/* Override the default OpenLayers zoom buttons */
.ol-zoom {
  position: absolute;
  top: 10px; /* Adjust position as needed */
  left: 10px;
}

.ol-zoom button,
.ol-full-screen button {
  width: 28px; /* Set custom width */
  height: 28px; /* Set custom height */
  margin-bottom: 2px;
  color: black; /* Text color */
}

/* On keyboard focus */
.ol-zoom button:focus,
.ol-full-screen button:focus {
  outline: 2px solid black;
}

/* On mouse hover */
.ol-zoom button:hover,
.ol-full-screen button:hover {
  outline: 2px solid black;
  cursor: pointer;
}

/* Adjust spacing between buttons */
.ol-zoom-in {
  margin-bottom: 50px; /* Add spacing below the "+" button */
}

.ol-scale-line {
  padding: 5px; /* Padding around the scale */
}

.ol-scale-line-inner {
  color: black; /* Text color */
  font-size: 16px; /* Text size */
}

/* Keyboard accessibility outline */
.ol-zoom button:focus-visible,
.ol-full-screen button:focus-visible {
  outline: 2px solid black;
}

/* Prevent nested elements from being accidentally tabbable or focusable */
.ol-zoom button *,
.ol-full-screen button * {
  pointer-events: none;
  outline: none !important;
}
