html {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  /* ensure document root and body have no height, padding, or margin impact on react content */
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#react-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
