* {
	box-sizing: border-box;
	font-family: inherit;
	
}

.tableOfContents {
	color: #333333;
	display: flex;
	flex-direction: column;

}

.tableOfContentsList {
	color: #333333;
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}
.tableOfContentsListItem:hover {
	color: #0000ff;
	cursor: pointer;
}

.container {
	width: 100%;
	color: #333333;
}
.container h3 {
	width: 100%;
	color: Black;
}
.wrapper {
	border-bottom: 1px solid black;
	overflow: hidden;
	margin-bottom: 10px;
}

.wrapper .question-container {
	width: 100%;
	text-align: left;
	padding: 2px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
	background: transparent;
	border: none;
	cursor: pointer;
	color: #333333;
	background-color: #f1f2f3;
	border-radius: 10px; /* Rounded corners by 1px */
}

.question-container.active {
	color: #000;
	background-color: #ededed;
	background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
}

.wrapper .question-container:hover {
	background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
	color: black;
	background-color: #e0e0e0;
}

.wrapper .arrow {
	font-size: 2rem;
	transition: 0.5s ease-in-out;
	background-color: transparent;
}

.arrow.active {
	rotate: 180deg;
	color: Black;
}

.wrapper .answer-container {
	padding: 0 10px;
	transition: height 0.7s ease-in-out;
}

.wrapper .answer-content {
	padding: 10px 0;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
}
